/* Needed to remove borders */
body, html {
    padding: 0;
    margin: 0;
}

/* Primary div for component */
.home{
    background: url(./images/HomeScreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    height: 100vh;
    width: auto;
}

/* Start of Devcom logo css  */
.logo-container{
    text-align: center;
    
}

.logo{
    width: 18%;
    padding-top: 3%;

}
/* End of Devcom logo css  */

/* Start of Home Screen Buttons */
.button-group{
    position: absolute;
    top: 61%;
    left: 50%;
    /* border-radius: 40px; */
    transform: translate(-50%,-50%);    
}

.firstButton{
    padding: 60px 60px;
    outline: none;
    background-image: url('./images/CreateProjectIcon.png');
    background-size: cover;
}
.secondButton{
    padding: 60px 60px;
    outline: none;
    background-image: url('./images/OpenExistingProjectIcon.png');
    background-size: cover;
}
.test{
    width: 5%;
    height: 5%;
    padding: 60px 60px;
    position: absolute;
    top: 30%;
    left: 23%;
    opacity: 0;

}

.thirdButton{
    padding: 60px 60px;
    outline: none;
    background-image: url('./images/SyncProject.png');
    background-size: cover;
    
}
.fourthButton{
    padding: 60px 60px;
    outline: none;
    background-image: url('./images/ArchieveProject.png');
    background-size: cover;
}
.fifthButton{
    padding: 60px 60px;
    outline: none;
    background-image: url('./images/CanBusManager.png');
    background-size: cover;
}

ul{
    display: flex;
    gap: 5em;
}

ul li{
    list-style: none;
    border: 2px solid;
    /* font-size: 30px; */
    /* font-weight: bold; */
    margin: 20px;
    /* display: block; */
}
/* End of Home Screen Buttons */

/* Start of Home Screen Title */


.project-name{
    text-align: center;
    width: 880px;
    /* height: 100px; */
    border: 2px solid;
    margin: 0 auto; /* top-bottom, left-right*/
    background-color: white;
    line-height: 68px;
    font-family: 'Chakra Petch', sans-serif;
}
/* End of Home Screen Title */




