/* Displayer */
.shield {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.25);
    top: 0;
    left: 0;
    font-family: sans-serif;
}

.modal {
    position: absolute;
    bottom: 50%;
    left: 0px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    transform: translate(0%,50%);

    
}

.modal .header {
    padding: 8px 12px;
    position: relative;
}

.modal .header .buttons {
    position: absolute;
    right: 0;
    top: 9px;
}

.modal .header .buttons span {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
}

.modal .header .buttons span:hover {
    background: #eee;
}

.modal .content {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.header .screenTitle{
    left: 50px;
    
}

.displayerTitle{
    position: relative;
    /* vertical-align: middle; */
    left: 80vh;
}
  
/* End of Displayer */

/* Traffic Displayer */
.shield-traffic{
    position: absolute;
    width: 50vw;
    height: 100vh;
    background: rgba(0,0,0,.25);
    top: 35px;
    left: 0;
    font-family: sans-serif;
}


.modal-traffic{
    position: absolute;
    bottom: 60%;
    left: 0px;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 50vw;
    height: 100vh;
    transform: translate(0%,60%);
}

.modal-traffic .header-traffic {
    padding: 8px 12px;
    position: relative;
    background-color: darkgray;
}

.modal-traffic .header-traffic .buttons {
    position: absolute;
    right: 0;
    top: 9px;
}

.modal-traffic .header-traffic .buttons span {
    border-left: 1px solid darkgray;
    padding: 8px 20px;
    cursor: pointer;
}

.modal-traffic .header-traffic .buttons span:hover {
    background: #eee;
}

.modal-traffic .content {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.screenTitlePacket{
    position: relative;
    /* vertical-align: middle; */
    left: 250px;
}
/* End of Traffic Displayer */

/* Start of Node Displayer */
.shield-nodes{
    position: absolute;
    width: 50vw;
    height: 100vh;
    background: rgba(0,0,0,.25);
    top: 35px;
    left: 720px;
    font-family: sans-serif;
}


.modal-nodes{
    position: absolute;
    bottom: 60%;
    left: 0px;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
    width: 50vw;
    height: 100vh;
    transform: translate(0%,60%);
}

.modal-nodes .header-nodes {
    padding: 8px 12px;
    position: relative;
    background-color: darkgray;
}

.modal-nodes .header-nodes .buttons {
    position: absolute;
    right: 0;
    top: 9px;
}

.modal-nodes .header-nodes .buttons span {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
    
}

.modal-nodes .header-nodes .buttons span:hover {
    background: #eee;
}

.modal-nodes .content {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.screenTitleNodes{
    position: relative;
    /* vertical-align: middle; */
    left: 250px;
    
}
/* End of Node Displayer */